.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.grid {
  display: grid;

  grid-template-rows: 25vh 25vh;
  grid-template-columns: 90vh 90vh;
}